.modal-content-sell-modal {
    background-color: rgb(51, 51, 51);
    margin: 10% auto;
    height: 250px;
    width: 400px;
    padding: 30px;
    padding-top: 2%;
    padding-bottom: 1%;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-shadow: 2px 2px 2px #000000;
    border: none;
  }
  
  .button-place{
    margin-top: 70px;
  }
  
  .button {
    border: 2px var(--gold-color) solid;
    background: none;
    height: 48px;
    width: 180px;
    border-radius: 10px;
    font-size: 1.3rem;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: lighter;
  }
  
  .button:hover {
    cursor: pointer;
  }
  
  .title-sell-modal{
    text-align: center;
    margin-bottom: 0;
  }
  
  .hr-sell-modal{
    border-color: var(--gold-color);
  }
  
  .margin-right{
    margin-right: 30px;
  }