.stock-item-container{
    margin-left: 29px;
    max-width: 60px;
}

.stock-labels-container{
    display: flex;
}

.symbol-label{
    font-size: 22px;
    margin: 0;
}

.stock-first-name{
    display: inline-flex;
    margin-top: 6px;
    margin-left: 10px;
    color: var(--gold-color);
}

.stock-values-container{
    display: flex;
    margin-top: -4px;
}

.stock-value{
    font-size: 22px;
    margin: 0;
}

.stock-percentage{
    font-size: 12px;
    color: var(--red-color);
    margin-left: 20px;
}

.divide-stock{
  font-size: 65px;
  height: 10px;
  color: var(--gold-color);
  margin-left: 100px;
  margin-right: -55px;
}