.manage-btn {
    margin-left: 20px;
}

.delete-btn {
    border-color: var(--red-color);
    background-color: var(--red-color);
    margin-left: 20px;
}

.delete-btn:hover {
    background-color: #a93535;
}

.capital-input {
    font-family: var(--secondary-font);
    margin-right: 10px;
    padding: 10px;
    font-size: 14px;
    border-width: 0px;
    border-color: #CCCCCC;
    color: #ffffff;
    border-style: hidden;
    border-radius: 6px;
    box-shadow: 3px 3px 8px var(--shadow-box-color);
    text-shadow: 0px 0px 5px rgba(66, 66, 66, .75);
}

h1{
    text-align: center;
    color: var(--gold-color);
}