.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 100px;
    position: relative;
    padding-left: 150px;
  }
  
  .main h1 {
    font: var(--primary-font);
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  .graph {
    background-color: #333333;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 1420px;
    height: 650px;
  }
  
  #overviewChart {
    margin-top: 30px;
    margin-bottom: 15px;
  }
  
  .updateButtons {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap; 
    gap: 90px;
    justify-content: center;
  }
  
  .updateButtons button {
    border: none;
    border-radius: 8px;
    padding: 4px 9px;
    background-color: #333333;
    color: white;
    cursor: pointer;
    margin: 5px;
    white-space: nowrap;
    background-color: #4d4d4d;
  }
  
  
  @media screen and (max-width: 1768px) {
    .updateButtons {
      gap: 5px;
    }
  
    .updateButtons button {
      padding: 4px 6px;
    }
  }
  
  .myPortfolio
  {
    align-self: flex-start;
    margin-bottom: -70px;
    margin-left: 20px;
    visibility: hidden;
  }
  
  .money {
    margin-bottom: 15px;
    align-self: flex-end;
    margin-right: 20px;
  }
  
  .profit {
    width: 40px;
    height: 20px;
    background-color: #d9534f;
    border-radius: 2px;
    margin-left: -60px;
    margin-top: -42px;
    padding: 1px 6px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .profit p {
    font-size: 12px;
    text-align: center;
    margin: 0;
  }
  
  .all {
    display: flex;
    align-items: center;
    background-color: #333333;
    border: none;
    border-radius: 8px;
    padding: 4px 9px;
    cursor: pointer;
  }
  
  .all i {
    margin-right: 5px;
  }