.reports-container{
    display: flex;
    margin-left: 50px;
    margin-top: 50px;
    flex-direction: column;
}

.row-one-charts{
    display: flex;
    justify-content: flex-start;
    margin-bottom: -50px;
}

.row-two-charts{
    display: flex;
    justify-content: flex-start;
    gap: 25px;
}