:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
}

.dashboard {
  display: flex;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

.light {
  background-color: #f0f0f0;
  color: #333;
}

.dark {
  color: #f0f0f0;
}

