:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  --gold-color : #C6A653;
  --background-color: #242424;
  --boxes-color: #333333;
  --red-color: #D9534F;
  --green-color: #22B573;
  --text-placeholder: #B3B3B3;
  --shadow-box-color: #939393;
  --primary-font: 'Raleway';
  --secondary-font: 'Montserrat' ;
  --numbers-font: 'Montserrat';
}

.dashboard {
  display: flex;
  font-family: var(--primary-font);
  transition: background-color 0.3s, color 0.3s;
}

.light {
  background-color: #f0f0f0;
  color: #333;
}

.dark {
  background-color: var(--background-color);
  color: #f0f0f0;
}

/* #region animations */

.elastic-spin {
  animation: elastic-spin 2s infinite ease;
}
@keyframes elastic-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(720deg); }
}

.pulse:hover {
  animation: pulse 2s infinite ease-in-out alternate;
}
@keyframes pulse {
  from { transform: scale(0.9); }
  to { transform: scale(1.1); }
}

.hithere:hover {
  animation: hithere 2s ease infinite;
}
@keyframes hithere {
  20% { transform: scale(1.1); }
  40%, 60% { transform: rotate(-20deg) scale(1.1); }
  50% { transform: rotate(20deg) scale(1.1); }
  50% { transform: rotate(0deg) scale(1.1); }
  100% { transform: scale(1); }
}

/* #endregion */

