:root 
{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  --gold-color: #c6a653;
  --background-color: #242424;
  --boxes-color: #333333;
  --red-color: #d9534f;
  --green-color: #22b573;
  --text-placeholder: #b3b3b3;
  --shadow-box-color: #939393;
  --primary-font: "Raleway";
  --secondary-font: "Montserrat";
  --numbers-font: "Montserrat";
}


.login-container 
{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
}

.login-sidebar 
{
  width: 600px;
  height: 100%;
  background-color: var(--gold-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-image 
{
  max-width: 100%;
  max-height: 100%;
}

.login-page 
{
  flex-grow: 1;
  background-color: #242424;
}

.login-header 
{
  text-align: center;
  color: white;
  font-size: 40px;
  margin-top: 170px;
}

.not-member
{
  text-align: right;
  margin-right: 30px;
}

.register
{
  color: var(--gold-color);
}

.register:hover
{
  color: #a57b12;
}

.input-container {
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.username,
.password {
  margin-top: 50px;
  width: 100%;
  max-width: 300px;
  padding: 25px;
  border-radius: 20px;
  font-size: 20px;
  border: none;
}

.forgot-password {
  text-align: right;
  margin-top: 10px;
  font-size: 16px;
  text-decoration: none;
  color: white;
  margin-left: 180px;
  font-size: 15px;
  opacity: 0.7;
}

.forgot-password:hover
{
  text-decoration: underline;
  color: rgb(161, 161, 161);
}

.login
{
  background-color: var(--gold-color);
  margin-top: 70px;
  width: 100%;
  max-width: 350px;
  padding: 25px;
  border-radius: 20px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.login:hover
{
  background-color: #a57b12;
}