:root 
{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  --gold-color: #c6a653;
  --background-color: #242424;
  --boxes-color: #333333;
  --red-color: #d9534f;
  --green-color: #22b573;
  --text-placeholder: #b3b3b3;
  --shadow-box-color: #939393;
  --primary-font: "Raleway";
  --secondary-font: "Montserrat";
  --numbers-font: "Montserrat";
}

.container 
{
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "sidebar heading"
    "sidebar main";
}

.content 
{
  grid-area: heading;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.main 
{
  grid-area: main;
  display: flex;
  flex-direction: column;
}