.barChart-container{
    text-align: center;
    background-color: #333333;
    border-radius: 20px;
    padding: 20px;
    width: 730px;
}

.barChart-header{
    color: var(--gold-color);
    text-align: center;
    font-size: 20px;
}