.notifications {
    display: inline-block;
    position: relative;
    color: var(--gold-color);
    font-size: 30px;
  }
  
  .login-container-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 350px;
    width: 400px;
  }
  
  .user-circle {
    border-color: var(--gold-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  
  .login-container-heading h2 {
    color: var(--gold-color);
    margin-left: 20px;
    width: 300px;
  }