.add-stock-table {
    margin-left: 30px;
    width: 100%;
    font-size: 1.5rem;
    font-weight: lighter;
}

.add-stock-table input {
    background: none;
    border: none;
    text-align: center;
    /* font-family: var(--primary-font); */
    font-size: 1rem;
}

.add-stock-table .label-total {
    padding-left: 40px;
    text-align: right;
}

.add-stock-table td {
    height: 45px;
}

.add-stock-table input {
    border-bottom: 1px var(--gold-color) solid;
    font-size: 1.3rem;
    width: 200px;
    padding: 0;
}

.add-stock-table td:nth-child(even) {
    width: 30%;
}

.add-stock-table select {
    border-color: var(--boxes-color);
    border-bottom: 1px var(--gold-color) solid;
    background-color: var(--boxes-color);
    width: 200px;
    font-size: 1.3rem;
    text-align: center;
}

.add-stock-header {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    height: 50px;
}

.add-stock-header h2 {
    font-weight: lighter;
    font-size: 2rem;
}

.add-stock-plus {
    font-size: 3rem;
    position: relative;
    padding-left: 78%;
}

.add-button-div {
    margin: 20px;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.add-button {
    border: 2px var(--gold-color) solid;
    background: none;
    height: 48px;
    width: 150px;
    border-radius: 10px;
    font-size: 1.5rem;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: lighter;
}

.add-button:hover {
    cursor: pointer;
    background-color: var(--gold-color);
}

.add-stock-hr {
    border-color: var(--gold-color);
}

.input-number::-webkit-inner-spin-button,
.input-number::-webkit-outer-spin-button,
.input-number::-webkit-clear-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    font-size: 1.3rem;
}

.date-picker {
    appearance: none;
    width: 179px;
    box-sizing: border-box;
    outline: none;
    font-size: 1.3rem !important;
}

.error-label {
    font-size: 0.7rem;
    color: var(--red-color);
}