.sidebar {
    width: 250px;
    padding: 20px;
    max-height: 200px;
    margin-left: 15px;
  }
    
  .sidebar-ul {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0; 
    font-size: 25px;
  }
  
  
  .sidebar li {
      margin-bottom: 20px;
      cursor: pointer;
      color: var(--gold-color);
      display: flex;
      margin-top: 10px;
      font-size: 20px;
  }
  
  .sidebar-li{
      cursor: pointer;
      color: var(--gold-color);
      display: flex;
      margin-top: 10px;
      font-size: 20px;
  }
    
    .sidebar li i{
      margin-right: 20px;
    }
    
    .sidebar-img{
      display: flex;
      justify-content: center;
      margin-bottom: 40px;
      margin-top: 20px;
    }
    
    .sidebar-img img{
      aspect-ratio: 30/2;
      object-fit: contain;
    }

    
    .totalInvestment-box-container {
      position: relative;
      display: grid;
      grid-template-areas: 
        "name"
        "values";
      background-color: var(--boxes-color);
      height: 75px;
      width: 150px;
      border-radius: 20px;
      align-items: center;
      padding: 0 20px;
      box-shadow: 7px 7px 5px var(--shadow-box-color);
      cursor: pointer;
    }
  
    .totalInvestment-box-name {
      color: var(--text-placeholder);
      grid-area: name;
      font-size: 15px;
      margin-top: 5px;
    }
    
    .totalInvestment-box-values {
      font-size: 25px;
      grid-area: values;
      display: flex;
      font-family: var(--numbers-font);
      margin-top: -20px;
    }
  
    a{
      color: var(--gold-color);
      font-size: 15px;
      text-decoration: none;
    }
  
    .totalInvestment-box-container:hover {
      box-shadow: 7px 7px 5px var(--shadow-box-color-hover);
    }
  .totalInvestment-box-container:hover::after {
    content: "Click to manage your deposits from own capital";
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    bottom: -30%;
    left: 80%;
    transform: translateX(-50%);
    white-space: nowrap;
  }
  
  /* #region animations */
  
  
  .hithere:hover {
    animation: hithere 2s ease infinite;
  }
  @keyframes hithere {
    20% { transform: scale(1.1); }
    40%, 60% { transform: rotate(-20deg) scale(1.1); }
    50% { transform: rotate(20deg) scale(1.1); }
    50% { transform: rotate(0deg) scale(1.1); }
    100% { transform: scale(1); }
  }
  
  /* #endregion */
  