.add-stock-header {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    height: 50px;
}

.add-stock-header h2 {
    font-weight: lighter;
    font-size: 2rem;
}

.add-stock-plus {
    font-size: 3rem;
    position: relative;
    padding-left: 60%;
}

.add-stock-table input {
    background: none;
    border: none;
    text-align: center;
}

.add-stock-table .label-total {
    text-align: right;
}

.add-stock-table {
    width: 100%;
    font-size: 1.5rem;
    font-weight: lighter;
}

.add-stock-table td {
    height: 45px;
}

.add-stock-table input {
    border-bottom: 2px var(--gold-color) solid;
}

.add-stock-table td:nth-child(even) {
    width: 30%;
}

.add-button-div {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.add-button {
    border: 2px var(--gold-color) solid;
    background: none;
    height: 5vh;
    width: 150px;
    border-radius: 10px;
    font-size: 1.5rem;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: lighter;
}

.add-button:hover {
    cursor: pointer;
}

.add-stock-hr {
    border-color: var(--gold-color);
}

.add-stock-table .input {
    font-size: 2rem;
}

.input-number::-webkit-inner-spin-button,
.input-number::-webkit-outer-spin-button,
.input-number::-webkit-clear-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

/*.date-picker {
    appearance: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
  }
  
  /* Style the date picker arrow icon */
.date-picker::-webkit-calendar-picker-indicator {
    background: transparent;
    display: none;
}
