.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 50px;
  position: relative;
  padding-left: 150px;
}

.main h1 {
  font: var(--primary-font);
  font-size: 28px;
  margin-bottom: 15px;
}

.line {
  height: 2px;
  background-color: #C6A653;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 50px;
}

.line2 {
  height: 2px;
  background-color: #C6A653;
  width: 96%;
  margin-top: 20px;
  margin-bottom: 30px;
}

.graph {
  background-color: #333333;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#overviewChart {
  margin-top: 30px;
  margin-bottom: 15px;
}

.updateButtons {
  display: flex;
  flex-wrap: wrap; 
  gap: 90px;
  justify-content: center;
}

.updateButtons button {
  border: 2px solid rgb(38, 42, 43);
  border-radius: 8px;
  padding: 4px 9px;
  background-color: #333333;
  color: white;
  cursor: pointer;
  margin: 5px;
  white-space: nowrap;
}


@media screen and (max-width: 1768px) {
  .updateButtons {
    gap: 5px;
  }

  .updateButtons button {
    padding: 4px 6px;
  }
}


.money {
  margin-bottom: 15px;
  align-self: flex-end;
}

.profit {
  width: 40px;
  height: 20px;
  background-color: #d9534f;
  border-radius: 2px;
  margin-left: -60px;
  margin-top: -42px;
  padding: 1px 6px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profit p {
  font-size: 12px;
  text-align: center;
  margin: 0;
}

.all {
  display: flex;
  align-items: center;
  background-color: #333333;
  border: none;
  border-radius: 8px;
  padding: 4px 9px;
  cursor: pointer;
}

.all i {
  margin-right: 5px;
}
