.notifications {
  display: inline-block;
  position: relative;
  color: var(--gold-color);
  font-size: 30px;
}

.divider {
  margin-left: 30px;
  font-size: 40px;
  font-weight: 900;
  margin-top: 5px;
  color: var(--gold-color);
}

.login-container-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 350px;
}

.user-circle {
  border-color: var(--gold-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.login-container h2 {
  color: var(--gold-color);
  margin-left: 20px;
}