.main 
{
    grid-area: main;
    display: flex;
    align-items: left;
    margin-top: 50px;
    position: relative;
    padding-left: 150px;
}

.main h1 
{
    font: var(--primary-font);
    font-size: 28px;
    margin-bottom: 15px;
}

.line 
{
    height: 2px;
    background-color: gold;
    width: 97%;
    margin-top: 5px;
    margin-bottom: 20px;
}