.search-form {
  margin-left: 150px;
  margin-top: 60px;
  display: flex;
  align-items: center;
}

.search-container {
  position: relative;
}
.search-input {
  width: 100%;
  padding-right: 40px;
  border: 0px solid var(--gold-color);
  box-shadow: 2px 2px 2px black;
  border-radius: 20px;
  font-size: 16px;
  padding: 5px;
  width: 600px;
  text-indent: 25px;
  height: 25px;
}

.search-input::placeholder {
  position: absolute;
  left: 5%;
  text-indent: 2px;
  color: var(--text-placeholder);
}

.search-input:focus {
  text-indent: 28px;
  outline: none;
}

.search-input:disabled {
  background-color: #f2f2f2;
  cursor: crosshair;
  text-indent: 25px;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: var(--text-placeholder);
}

.dropdown {
  margin-top: 10px;
  position: absolute;
  z-index: 1;
}

.results {
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  border-bottom: 1px solid black;
  padding: 25px;
  cursor: pointer;
  background-color: #333333;
  color: #fff;
  margin-left: -20px;
  box-shadow: 5px 5px 5px black;
  width: 500px;
  max-width: 500px;
}

.result-symbol,
.result-percentage {
  font-size: 12px;
}

.result-value {
  margin-left: 250px;
}
