.sidebar {
  width: 250px;
  padding: 20px;
  max-height: 200px;
}
  
.sidebar-ul {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0; 
  font-size: 25px;
}

.collapse-portfolio{
  margin-bottom: 10px;
  justify-content: center;
}

.sidebar li {
    margin-bottom: 20px;
    cursor: pointer;
    color: var(--gold-color);
    display: flex;
    margin-top: 10px;
    font-size: 20px;
}
  
  .sidebar li i{
    margin-right: 20px;
  }
  
  .sidebar-img{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  
  .sidebar-img img{
    aspect-ratio: 3/2;
    object-fit: contain;
    margin: 0;
  }
  
  .settings-sidebar{
    position: absolute;
    margin-top: 100px;
  }
  
  .totalInvestment-box-container {
    display: grid;
    grid-template-areas: 
      "name"
      "values";
    background-color: var(--boxes-color);
    height: 75px;
    width: 150px;
    border-radius: 20px;
    align-items: center;
    padding: 0 20px;
    box-shadow: 7px 7px 5px var(--shadow-box-color);
  }

  .totalInvestment-box-name {
    grid-area: name;
    font-size: 12px;
    margin: 0;
    margin-top: 5px;
  }
  
  .totalInvestment-box-values {
    font-size: 25px;
    grid-area: values;
    display: flex;
    font-family: var(--numbers-font);
  }
  
  .totalInvest-box-percentage {
    font-size: 12px;
    font-family: var(--numbers-font);
    color: var(--green-color);
    font-weight: bold;
  }

  a{
    color: var(--gold-color);
    font-size: 15px;
    text-decoration: none;
  }

.settings-sidebar-li{
  font-size: 20px;
}

.collapse-arrow {
  display: inline-block;
  margin-left: 10px;
  margin-top: 2px;
}