.modal{
  /* display: none; */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(44, 41, 43, 0.7);
  overflow: hidden;
}

.modal-content {
  background-color: rgb(51, 51, 51);
  margin: 15% auto;
  max-width: 450px;
  min-height: 460px;
  padding: 30px;
  padding-top: 2%;
  padding-bottom: 1%;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-shadow: 2px 2px 2px  #000000;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;

  /* a quick fix for the close button
  opacity: 0; */
}

.close:hover {
  color: #000;
}


/* Modal */
.modal-table {
  table-layout: fixed;
  width: 100%;
  min-height: 300px;

  .name-l {
    width: 20%;
    text-align: left;
    font-weight: lighter;
    font-size: 2rem;
    position: relative;
    bottom: 6px;
  }

  .date {
    text-align: left;
    width: 60%;
    font-weight: lighter;
    color: #888;
  }

  .name-s {
    text-align: right;
    font-weight: lighter;
    font-size: 1.5rem;
    color: var(--gold-color);
  }
}

.modal-table hr {
  width: 490%;
  border-color: var(--gold-color);
}

.modal-table td {
  font-weight: lighter;
  padding-bottom: 2%;
  font-size: 1.5rem;
}

.modal-table td:nth-child(3) {
  text-align: right;
}

.edit {
  display: flex;
  justify-content: right;
}

.editIcon{
  position: relative;
  bottom: 5px;
  left: 5px;
}

.edit:hover {
  cursor: pointer;
}

.buttons {
  display: flex;
  height: 8vh;
  width: 500px;
}

.buttons button {
  background-color: transparent;
  border-style: none;
  font-size: 1.5rem;
  font-weight: lighter;
  width: 600px;
}

.buttons button:hover {
  cursor: pointer;
}

.buttons-container{
  display: flex;
  justify-content: center; /* Center items horizontally */
  margin-top: 10%;
}

.buttons-container hr{
  border-color: var(--gold-color);
}

.arrow-green-span{
  display: inline-block;
  background-color: var(--green-color);
  border-radius: 100%;
  width: 45px;
  height: 45px;
  margin-right: 10px;
  box-shadow: 2px 3px 5px black;
}

.arrow-red-span{
  display: inline-block;
  background-color:var(--red-color);
  border-radius: 100%;
  width: 45px;
  height: 45px;
  margin-right: 10px;
  box-shadow: 2px 3px 5px black;
}

.arrow-green{
  rotate: -45deg;
  position: relative;
  top: 7px;
}

.arrow-red{
  rotate: 45deg;
  position: relative;
  top: 7px;
}