.table-sell-stock {
    table-layout: fixed;
    width: 100%;
    min-height: 300px;
      border-collapse: collapse;
  
    .name {
          width: 25%;
          text-align: center;
          font-weight: lighter;
          font-size: 2rem;
      text-align: left;
      }
  
    .date {
          text-align: left;
          width: 20%;
          font-weight: lighter;
          color: #888;
      }
  
      .symbol {
          text-align: right;
          font-weight: lighter;
          font-size: 1.5rem;
          color: var(--gold-color);
      }
  
    .sell-stock {
      font-size: 2.3rem;
      font-weight: lighter;
      text-align: left;
    }
  }
  
  .table-sell-stock thead{
    border-bottom: 1px solid var(--gold-color);
  }
  
  .table-sell-stock td {
      font-weight: lighter;
      font-size: 1.5rem;
  }
  
  .table-sell-stock tr {
      height: 60px;
  }
  
  .table-sell-stock td:nth-child(1) {
    text-align: left;
  }
  
  .table-sell-stock td:nth-child(2) {
      text-align: right;
  }
  
  .table-sell-stock td:nth-child(3) {
      text-align: right;
  }
  
  .table-sell-stock input {
      background: none;
      text-align: center;
      border: none;
      border-bottom: 1px solid var(--gold-color);
    border-bottom: 1px var(--gold-color) solid;
    font-size: 1.3rem;
    width: 200px;
    padding: 0;
  }
  
  .input-number::-webkit-inner-spin-button,
  .input-number::-webkit-outer-spin-button,
  .input-number::-webkit-clear-button {
      -webkit-appearance: none;
      appearance: none;
      margin: 0;
  }
  
  .sell-button-div {
      margin: 20px;
      display: flex;
      justify-content: center;
      margin-top: 80px;
  }
  
  .sell-button {
      border: 1px var(--gold-color) solid;
      background: none;
      height: 48px;
      width: 150px;
      border-radius: 10px;
      font-size: 1.5rem;
      font-weight: lighter;
      cursor: pointer;
  }

  .sell-button:hover {
    background-color: var(--gold-color);
  }